.my-dropzone{
    /*border: none;*/
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px dashed rgba(137, 101, 224,.5);
    border-radius: .375rem;

}
.my-dropzone .dz-message{
    /*display: inline-block;*/
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba(50,50,50,.5);
    margin-top: 40px;
}